@{
    ViewBag.Title = "UPT";
}

<div class="universitate"><a href="Universitatea-Politehnica-Timisoara_ro.html" title="Universitatea Politehnica Timișoara"><img src="~/Content/siglaUPT.jpg" 
                                                                                alt="Universitatea Politehnica Timișoara"></a></div>
