<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">PSSC Project by BB</a>
    <div *ngIf="sharedService.userData" style="color:beige">
      Welcome, {{sharedService.userData}} !
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="expandMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" style="display: none;">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="sharedService.role == 'Manager'" class="nav-item">
          <a class="nav-link" [routerLink]="['/customer']" (click)="closeExpandedMenu()">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" (click)="closeExpandedMenu()">Products</a>
        </li>
        <li class="nav-item"  *ngIf="sharedService.isLoggedIn == true">
            <a class="nav-link" style="display:flex" [routerLink]="['/bag']" (click)="closeExpandedMenu()">Shopping bag <i class="material-icons"> add_shopping_cart</i></a>
        </li>
        <li class="nav-item"  *ngIf="sharedService.isLoggedIn == true">
            <a class="nav-link" style="display:flex" [routerLink]="['/myaccount']" (click)="closeExpandedMenu()">My account <i class="material-icons"> add_shopping_cart</i></a>
        </li>
        <li  *ngIf="sharedService.isLoggedIn == false" class="nav-item">
          <a class="nav-link" [routerLink]="['/sign-in']" (click)="closeExpandedMenu()">Sign in</a>
        </li>
        <li  *ngIf="sharedService.isLoggedIn == true" class="nav-item">
          <a class="nav-link" (click)="logOut()">Log out</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>